---
import Layout from "../layouts/Layout.astro"
import fetchApi from '../lib/strapi';

const lang=(Astro.currentLocale ||'pl') as 'en'|'pl'
const dataFromApi = await fetchApi<any>({endpoint: 'tests', query:{locale: lang}})
const data = dataFromApi.data[0].attributes.name;
---

<Layout lang={lang} title={data}>
	<p class="text-white">{data}</p>
</Layout>